@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
   background-color: #24252a;
   box-shadow: 0px 3px 10px #464646;
}
.Capa {
    background-image: url('/imgs/pycode2.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    width: auto;
}

  .container-footer {
    text-align: left; /* Centraliza o conteúdo horizontalmente */
    margin: 0 auto; /* Centraliza a div horizontalmente na tela */
    width: 68%; /* Defina uma largura desejada para a div, ajuste conforme necessário */
  }

.text-container {
    padding-top: 40%;
    font-size: 30px;
    color: white;
}
.line_description {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 3em;
    height: 1em;
    border-radius: 3rem;
  }


.index-nav{
    min-height: 13vh;

    background-color:transparent;
}
.index-nav a{
    color: white;
    text-decoration: none;
}
.index-nav .logo img{
    width: 130px;
}
.nav-list li{
    letter-spacing: 3px;

    margin-left: 16px;
    margin-right: 32px;
}


.saibaMais{
    box-shadow: 1px 1px 5px 5px #49026d;

    background-color: #8501b9;
    color: black;

    border: black;
    border-radius: 20px;

    width: 320px;
    height: 80px;

    font-size: 30px;

    margin-left: 10%;
    margin-bottom: 10%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #24252a;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #353232;
}