.text-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: -10%; /* Adicionei uma margem superior de 20px */
  padding: 3px;
}

.foto-info {
  display: flex;
  align-items: center;
  margin: 30px 0; /* Reduzi a margem superior para 30px e removi a margem inferior */
}

.foto-pycode img,
.foto-bruna img,
.foto-fellipe img,
.foto-jander img,
.foto-joao img {
  width: 170px;
  height: 165px;
  border-radius: 150px;
  margin-right: 45px;
}

.text-info {
  color: #fff;
  padding: 0px;
  max-width: 300px;
  margin: 0px;
}
